.display-student-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.student-info-table {
    background: white;
    opacity: 0.95;
    font-size: 21px;
    border-collapse: collapse;
    border: 2px solid black;
    margin-bottom: 20px;
}
.student-row {
    border: 0.7px solid black;
}
.col-title {
    font-weight: 600;
}
.student-title {
    margin-top: 15px;
    color: white;
    font-family: Mountains of Christmas;
    font-size: 50px;
    font-weight: 550;   
}
.col-value {
    text-align: center;
}
.student-buttons-container {
    display: flex;
    justify-content: space-around;
    width: 30vw;
}
.name-input {
    font-size: 21px;
    text-align: center;
    width: 200px;
}
@media screen and (max-width: 600px) {
    .student-info-table {
        width: 95vw;
        font-size: 19px;
    }
}