.input {
    font-size: 17px;
    font-family: Roboto;
    opacity: 0.8;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
    width: 170px;
    margin-left: 10px;
    margin-right: 10px;
}
.input::placeholder{
    color: grey;
    font-size: 16px;
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label {
    font-weight: 600;
}
.inputs-container {
    opacity: 0.95;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    padding-top: 20px;
}
.skills-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
.skills-select {
    margin-bottom: 15px;
}
.courses-select {
    font-size: 14px;
    overflow-y: hidden;
    margin-bottom: 40px;
}
.skill-levels, .select-container {
    display: flex;
    justify-content: center;
}
.add-button-container {
    display: flex;
    justify-content: space-around;
}
.skill-levels {
    margin-bottom: 15px;
}
.level-label {
    font-weight: 600;
}
.level-input {
    margin-left: 10px;
    font-size: 17px;
    text-align: center;
}
.skills-text {
    text-align: center;
}
.skills-courses-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 15px;
}
.courses-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
}
.courses-text {
    text-align: center;
}
.course-button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.loader {
    height: 50px;
    width: 50px;
}
.preview-container {
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
}
.preview-name {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    height: 15px;
    font-size: 22px;
}
.new-student-title {
    text-align: center;
    color: white;
    font-family: Mountains of Christmas;
    font-size: 50px;
    font-weight: 550;
    margin-top: 15px;
    margin-bottom: 15px;
}
.name-input-container {
    display: flex;
    justify-content: space-between;
}
.selected {
    cursor: pointer;
}
.selected:hover {
    opacity: 0.8;
}
.spans-container {
    display: flex;
}
@media screen and (max-width: 600px) {
    .inputs-container {
        width: 95vw;
    }
    .button {
        height: auto;
        margin-left: 5px;
    }
    .input {
        margin-left: 0;
        width: 150px;
    }
}
@media screen and (max-width: 450px) {
    .inputs-container {
        width: 97vw;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 0;
        padding-top: 5px;
    }
    .new-student-title {
        font-size: 40px;
    }
    .courses-select {
        font-size: 14px;
        width: 150px;
    }
    .skills-select {
        font-size: 14px;
    }
    .skills-text, .courses-text{
        font-size: 22px;
    }
}